@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;600&display=swap');



body {
  font-family: "Sarabun", sans-serif;
  background-color: #F9F9F9;
}

.bt-blue{
  @apply p-3 rounded-full w-full text-white bg-blue700 border-collapse hover:bg-blue600 duration-300 hover:drop-shadow-lg
}

.box-sd{
  @apply bg-white drop-shadow-md shadow-gray-200 px-8 py-2 rounded-lg flex justify-around items-center space-x-7 
}

.bt2-blue{
  @apply p-3 rounded-full text-blue700 border-collapse hover:text-blue600 duration-300 hover:drop-shadow-lg border-2 border-blue700 hover:border-blue500
}

.sarabun-thin {
  font-family: "Sarabun", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.sarabun-extralight {
  font-family: "Sarabun", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.sarabun-light {
  font-family: "Sarabun", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sarabun-regular {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sarabun-semibold {
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.grid-item {
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item p {
  font-size: 1.2rem;
}

/* จัดlaout */
.entry {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.entry-left {
  flex: 0 0 90px; /* ขนาดคงที่ของคอลัมน์บันทึกครั้งที่ */
  text-align: center;
}

.entry-right {
  flex-grow: 1;
  padding-left: 20px; /* เว้นระยะระหว่างบันทึกครั้งที่กับข้อมูล */
}

.inline-h2 {
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  border: 2px solid #1E3A8A; 
  background-color: #EFF6FF;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
}

h3 {
  color: #333;
  margin-bottom: 10px;
}

.text-blue700 {
  color: #2c3e50; /* สีข้อความ */
}

.text-sm {
  font-size: 14px;
}

.text-4xl {
  font-size: 36px;
}

.text-md {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.box-sd {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

p {
  margin: 0;
  padding: 0;
  color: #666;
}

/* Card layout "รายการ" */
.meal-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal-type{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
}

.meal-list li {
  position: relative;
  padding-left: 10px;
}

.meal-list li::before {
  content: "•";
  left: 0;
  color: #333;
  font-weight: bold;
  padding: 20px;
}


